Source: 

    [1] http://www.bursamalaysia.com/market/listed-companies/list-of-companies/main-market/
    [2] https://www.morningstar.com/
    [3] https://www.klsescreener.com/
    [4] https://klse.i3investor.com/

In [1]:
import numpy as np
import pandas as pd
import re, time, os
from datetime import datetime, date
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
# from time import time
from tqdm import tqdm
from glob import glob
chromedriver = 'D://Workspace/selenium_driver/bin/chromedriver'
out_dir = 'result_2021-07-10/'
if not os.path.exists(out_dir):
    os.makedirs(out_dir)

In [2]:
stock_code = pd.read_csv(out_dir+'klse_00_stock_code.csv')
data1_1 = pd.read_csv(out_dir+'klse_01a_latest_data.csv')
data1_2 = pd.read_csv(out_dir+'klse_01b_latest_data.csv')
data1 = pd.read_csv(out_dir+'klse_01_latest_data.csv')
data2 = pd.read_csv(out_dir+'klse_02_10yr_data.csv')
data3 = pd.read_csv(out_dir+'klse_03_stage_3.csv')
data4 = pd.read_csv(out_dir+'klse_04_intrinsic.csv')
data5 = pd.read_csv(out_dir+'klse_05_3G2H_score_with_valuation.csv')
final = pd.read_csv(out_dir+'klse_06_final_table.csv')
data7 = pd.read_csv(out_dir+'klse_07_google_sheet.csv')

# data1_1['code'] = data1_1['code'].astype(str).apply(lambda x: x.zfill(4))
# data1_2['code'] = data1_2['code'].astype(str).apply(lambda x: x.zfill(4))
# data1['code'] = data1['code'].astype(str).apply(lambda x: x.zfill(4))
# data2['code'] = data2['code'].astype(str).apply(lambda x: x.zfill(4))
# data3['code'] = data3['code'].astype(str).apply(lambda x: x.zfill(4))
# data4['code'] = data4['code'].astype(str).apply(lambda x: x.zfill(4))
# data5['code'] = data5['code'].astype(str).apply(lambda x: x.zfill(4))
# final['code'] = final['code'].astype(str).apply(lambda x: x.zfill(4))

### Get all listed company names and stock codes from Bursa Malaysia

In [3]:
options = webdriver.ChromeOptions()
options.add_argument("--incognito")
driver = webdriver.Chrome(chromedriver, options=options)
driver.switch_to.window(driver.current_window_handle)
driver.maximize_window()
driver.get('http://www.bursamalaysia.com/market/listed-companies/list-of-companies/main-market/')
driver.find_element_by_class_name('cc-btn').click()
time.sleep(2)
driver.execute_script("window.scrollTo(0, document.body.scrollHeight + 200);")
time.sleep(2)
driver.find_element_by_class_name('custom-select').click()
driver.find_element_by_class_name('custom-select').find_elements_by_tag_name('option')[-1].click()
time.sleep(2)
x = driver.find_elements_by_class_name('listed-company-table')[-1]\
          .find_element_by_tag_name('tbody')\
          .find_elements_by_class_name('company-announcement-link')

code, name = [],[]
for i in tqdm(x):
    code.append(i.get_attribute('href').split('=')[-1])
    name.append(i.get_attribute('innerText').strip())
    
driver.get('https://www.bursamalaysia.com/trade/trading_resources/listing_directory/ace_market')
time.sleep(2)
driver.execute_script("window.scrollTo(0, document.body.scrollHeight + 200);")
time.sleep(2)
driver.find_element_by_class_name('custom-select').click()
driver.find_element_by_class_name('custom-select').find_elements_by_tag_name('option')[-1].click()
time.sleep(2)
x = driver.find_elements_by_class_name('listed-company-table')[-1]\
          .find_element_by_tag_name('tbody')\
          .find_elements_by_class_name('company-announcement-link')

for i in tqdm(x):
    code.append(i.get_attribute('href').split('=')[-1])
    name.append(i.get_attribute('innerText').strip())
# driver.quit()

100%|████████████████████████████████████████████████████████████████████████████| 779/779 [00:05<00:00, 152.79it/s]
100%|████████████████████████████████████████████████████████████████████████████| 140/140 [00:01<00:00, 128.92it/s]

In [4]:
stock_code = pd.DataFrame({'code':code,'name':name})
idx1 = stock_code[stock_code.name == 'KLCC REAL ESTATE INVESTMENT TRUST'].index
idx2 = stock_code[stock_code.name == 'KLCC PROPERTY HOLDINGS BERHAD'].index
stock_code.loc[idx1, 'code'] = '5235SS'
stock_code.drop(index=idx2, inplace=True)
stock_code.sort_values('code', inplace=True)
stock_code.reset_index(drop=True)
print(stock_code.shape)
stock_code.to_csv(out_dir+'klse_00_stock_code.csv', index=False)
stock_code.head(1)

(919, 2)

     code                             name
899  0001  SUPERCOMNET TECHNOLOGIES BERHAD

In [5]:
short_list =  pd.read_csv('klse_stock_list.csv')
short_list = pd.merge(short_list, stock_code, 'left')
print(short_list.shape)
short_list.head(1)

(54, 2)

   code                  name
0  5099  AIRASIA GROUP BERHAD

### Stage 1 & 2

In [50]:
def process_stage_1(stock_code):
    # Get stock prices in 52 weeks range from KLSE Screener, which will be used in Stage 4
    start_time = time.time()
#     options = webdriver.ChromeOptions()
#     options.add_argument("--incognito")
#     driver = webdriver.Chrome(chromedriver, options=options)
#     driver.switch_to.window(driver.current_window_handle)
#     driver.maximize_window()
    error1, result1 = [],[]
    for i in tqdm(stock_code.code):
        try:
            driver.get('https://www.klsescreener.com/v2/stocks/view/'+i)
            time.sleep(1)
            try:
                cat= driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/span[2]')\
                           .get_attribute('innerText')\
                           .split(' : ')[1]
            except:
                cat= 'UNKNOWN'
            price  = driver.find_element_by_id('price')\
                           .get_attribute('innerText')
            week52 = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[7]/td[2]')\
                           .get_attribute('innerText')\
                           .split(' - ')
            roe    = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[8]/td[2]')\
                           .get_attribute('innerText')\
                           .replace(',','')\
                           .replace('-','')
            roe    = float(roe) if roe else 0.0
            pe     = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[9]/td[2]')\
                           .get_attribute('innerText')
            pe     = pe if pe else 0.0
            eps    = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[10]/td[2]')\
                           .get_attribute('innerText')
            eps    = np.around(float(eps)/100, 2) if eps else 0.0
            ey     = np.around(eps/float(price)*100, 2)
            dps    = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[11]/td[2]')\
                           .get_attribute('innerText')
            dps    = np.around(float(dps)/100, 2) if dps else 0.0
            dy     = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[12]/td[2]')\
                           .get_attribute('innerText')\
                           .replace('%','')
            bvps   = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[14]/td[2]')\
                           .get_attribute('innerText')\
                           .replace('-','')
            bvps   = float(bvps) if bvps else 0.0
#             cap    = driver.find_element_by_xpath('//*[@id="page"]/div[2]/div[1]/div[2]/div[1]/div/table[1]/tbody/tr[18]/td[2]')\
#                            .get_attribute('innerText')
            result1.append([str(i).zfill(4), str(cat), float(price), float(week52[0]), float(week52[-1]), float(bvps),
                            float(pe), float(eps), ey, float(dps), float(dy), float(roe)])
        except Exception as e:
            error1.append([str(i).zfill(4), type(e).__name__])
#     driver.quit()
    print('Time taken: ',time.time()-start_time)
    data1 = pd.DataFrame(result1, columns=['code','category','Price','52w low','52w high','BVPS',
                                           'P/E','EPS','EY','DPS','DY','ROE'])
    er_df_1 = pd.DataFrame(error1, columns=['code','reason'])
    return data1, er_df_1

In [7]:
def process_stage_2(balance, offset=0):
    start_time = time.time()
#     options = webdriver.ChromeOptions()
#     options.add_argument("--incognito")
#     driver = webdriver.Chrome(chromedriver, options=options)
#     driver.switch_to.window(driver.current_window_handle)
#     driver.maximize_window()
    symbol = ['—']
    
    driver.get('https://financials.morningstar.com/ratios/r.html?t=5398&culture=en&platform=sal&region=mys')
    time.sleep(2)
    driver.find_element_by_xpath('//*[@id="orderType"]').click()
    driver.find_element_by_xpath('//*[@id="Li2"]/ul/li[2]/a').click()
#     driver.execute_script('''window.open("","_blank");''')    
#     driver.switch_to.window(driver.window_handles[0])

    size  = 50
    batch = int(np.ceil(len(balance)/size))
    error1_2, error2 = [], []
    for b in range(batch):
        result1_2, data2 = [], pd.DataFrame()
        time.sleep(1)
        for i in tqdm(balance[b*size:(b+1)*size].code):
            try:
                driver.get('https://financials.morningstar.com/ratios/r.html?t='+str(i)+'&culture=en&platform=sal&region=mys')
                time.sleep(2)
                year_end = [str(i), 'Year End'] + driver.find_element_by_id('financials').find_element_by_tag_name('thead')\
                                                        .get_attribute('innerText').split('\n')[0].split('\t')[1:]
                assert len(year_end) == 13, 'Number of year mismatch'

                table_1 = driver.find_element_by_id('financials').find_element_by_tag_name('tbody')\
                                .find_elements_by_tag_name('tr')[1::2]

                revenue    = [str(i), 'Revenue'] + table_1[0].get_attribute('innerText').split('\t')[1:]
                net_profit = [str(i), 'NP'] + table_1[4].get_attribute('innerText').split('\t')[1:]
                eps        = [str(i), 'EPS'] + table_1[5].get_attribute('innerText').split('\t')[1:]
                dps        = [str(i), 'DPS'] + table_1[6].get_attribute('innerText').split('\t')[1:]
                div_payout = [str(i), 'Div Payout'] + table_1[7].get_attribute('innerText').split('\t')[1:]
                shares     = [str(i), 'Shares'] + table_1[8].get_attribute('innerText').split('\t')[1:]
                bvps        = [str(i), 'BVPS'] + table_1[9].get_attribute('innerText').split('\t')[1:]
                ocf        = [str(i), 'OCF'] + table_1[10].get_attribute('innerText').split('\t')[1:]
                fcf        = [str(i), 'FCF'] + table_1[12].get_attribute('innerText').split('\t')[1:]

                tabs = driver.find_element_by_class_name('in_tabs').find_elements_by_tag_name('li')

                tabs[0].click()
                table_2 = driver.find_element_by_id('tab-profitability').find_elements_by_tag_name('table')[-1]\
                                .find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')[1::2]

                np_margin  = [str(i), 'NP Margin'] + table_2[1].get_attribute('innerText').split('\t')[1:]
                temp       = table_2[5].get_attribute('innerText').split('\t')
                roe        = [str(i), 'ROE'] + temp[1:]
    #             roe_last   = temp[1].replace(',','') if temp[1] not in symbol else 0.0
                roe_last2  = temp[2].replace(',','') if temp[2] not in symbol else 0.0

                tabs[1].click()
                table_3 = driver.find_element_by_id('tab-growth').find_element_by_tag_name('table')\
                                .find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')[1::2]

                rev_gr_yoy     = [str(i), 'Revenue GR'] + table_3[1].get_attribute('innerText').split('\t')[1:]
                rev_gr_3y_avg  = [str(i), 'Revenue GR 3Y avg'] + table_3[2].get_attribute('innerText').split('\t')[1:]
                rev_gr_5y_avg  = [str(i), 'Revenue GR 5Y avg'] + table_3[3].get_attribute('innerText').split('\t')[1:]
                rev_gr_10y_avg = [str(i), 'Revenue GR 10Y avg'] + table_3[4].get_attribute('innerText').split('\t')[1:]

                np_gr_yoy      = [str(i), 'NP GR'] + table_3[-8].get_attribute('innerText').split('\t')[1:]
                np_gr_3y_avg   = [str(i), 'NP GR 3Y avg'] + table_3[-7].get_attribute('innerText').split('\t')[1:]
                np_gr_5y_avg   = [str(i), 'NP GR 5Y avg'] + table_3[-6].get_attribute('innerText').split('\t')[1:]
                np_gr_10y_avg  = [str(i), 'NP GR 10Y avg'] + table_3[-5].get_attribute('innerText').split('\t')[1:]
                
                eps_gr_yoy     = [str(i), 'EPS GR'] + table_3[-4].get_attribute('innerText').split('\t')[1:]
                eps_gr_3y_avg  = [str(i), 'EPS GR 3Y avg'] + table_3[-3].get_attribute('innerText').split('\t')[1:]
                eps_gr_5y_avg  = [str(i), 'EPS GR 5Y avg'] + table_3[-2].get_attribute('innerText').split('\t')[1:]
                eps_gr_10y_avg = [str(i), 'EPS GR 10Y avg'] + table_3[-1].get_attribute('innerText').split('\t')[1:]

                tabs[2].click()
                table_4 = driver.find_element_by_id('tab-cashflow').find_element_by_tag_name('table')\
                                .find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')[1::2]

                ocf_gr_yoy = [str(i), 'OCF GR'] + table_4[0].get_attribute('innerText').split('\t')[1:]
                fcf_gr_yoy = [str(i), 'FCF GR'] + table_4[1].get_attribute('innerText').split('\t')[1:]

                tabs[3].click()
                table_5 = driver.find_element_by_id('tab-financial').find_elements_by_tag_name('table')[-1]\
                                .find_element_by_tag_name('tbody').find_elements_by_tag_name('tr')[1::2]

                temp       = table_5[-1].get_attribute('innerText').split('\t')
                de         = [str(i), 'D/E'] + temp[1:]
                de_last    = temp[1].replace(',','') if temp[1] not in symbol else 0.0
                de_last2   = temp[2].replace(',','') if temp[2] not in symbol else 0.0

                try:
                    driver.get('https://klse.i3investor.com/servlets/stk/fin/'+str(i)+'.jsp?type=last10fy')
                    time.sleep(2)
                    x = driver.find_elements_by_tag_name('table')[13].find_elements_by_tag_name('tr')
                    if len(x) != 119:
                        x = driver.find_elements_by_tag_name('table')[14].find_elements_by_tag_name('tr')
                    price  = [str(i), 'Price'] + [x.get_attribute('innerText') for x in x[84].find_elements_by_tag_name('td')[2:-1]]
                except Exception as e:
                    error1_2.append([str(i), type(e).__name__])

                if len(price) != 0:
                    result1_2.append([str(i).zfill(4), roe_last2, de_last, de_last2])
                    temp_data  = [year_end, revenue, net_profit, eps, dps, div_payout, shares, bvps, ocf, fcf,
                                  np_margin, roe, rev_gr_yoy, rev_gr_3y_avg, rev_gr_5y_avg, rev_gr_10y_avg, 
                                  np_gr_yoy, np_gr_3y_avg, np_gr_5y_avg, np_gr_10y_avg,
                                  eps_gr_yoy, eps_gr_3y_avg, eps_gr_5y_avg, eps_gr_10y_avg, 
                                  ocf_gr_yoy, fcf_gr_yoy, de, price]
                    data2      = pd.concat([data2, pd.DataFrame(temp_data)])
            except Exception as e:
                error2.append([i, type(e).__name__])
                
        data1_2 = pd.DataFrame(result1_2, columns=['code','ROE2','D/E','D/E2'])
        data2.columns = ['code','detail','TTM','Y1','Y2','Y3','Y4','Y5','Y6','Y7','Y8','Y9','Y10']
        data2.fillna(0.0, inplace=True)
        
        data1_2.to_csv('temp_data/data1_2_part'+str(b+offset).zfill(2)+'.csv', index=False)
        data2.to_csv('temp_data/data2_part'+str(b+offset).zfill(2)+'.csv', index=False)        
#         result1_2, data2 = [], pd.DataFrame()
        
#     driver.quit()
    print('Time taken: ',time.time()-start_time)
    
    er_df_1 = pd.DataFrame(error1_2, columns=['code','reason'])
    er_df_2 = pd.DataFrame(error2, columns=['code','reason'])
    
    return er_df_1, er_df_2

In [8]:
# data1_1, er_df_1_1 = process_stage_1(short_list)
data1_1, er_df_1_1 = process_stage_1(stock_code)
print(data1_1.shape)
data1_1.to_csv(out_dir+'klse_01a_latest_data.csv', index=False)
display(data1_1.head(1))
display(er_df_1_1.reason.value_counts())

if len(er_df_1_1) != 0:
    display(er_df_1_1)

100%|█████████████████████████████████████████████████████████████████████████████| 919/919 [50:39<00:00,  3.31s/it]

Time taken:  3039.241121530533
(459, 12)

,code,category,Price,52w low,52w high,BVPS,P/E,EPS,EY,DPS,DY,ROE
0,0001,Ace Market : Health Care Equipment & Services,1.53,1.226,2.372,0.3676,47.0,0.03,1.96,0.02,0.98,8.81

ValueError    460
Name: reason, dtype: int64

     code      reason
0    0005  ValueError
1    0006  ValueError
2    0007  ValueError
3    0010  ValueError
4    0017  ValueError
..    ...         ...
455  9776  ValueError
456  9806  ValueError
457  9814  ValueError
458  9938  ValueError
459  9946  ValueError

[460 rows x 2 columns]

In [9]:
balance1_1 = stock_code[stock_code.code.isin(er_df_1_1.code)]
print(balance1_1.shape)

(460, 2)

In [51]:
data1_1_1, er_df_1_1_1 = process_stage_1(balance1_1)
print(data1_1_1.shape)
data1_1_1.to_csv(out_dir+'klse_01a_latest_data_part2.csv', index=False)
display(data1_1_1.head(1))
display(er_df_1_1_1.reason.value_counts())

if len(er_df_1_1_1) != 0:
    display(er_df_1_1_1)

100%|█████████████████████████████████████████████████████████████████████████████████| 1/1 [00:02<00:00,  2.04s/it]

Time taken:  2.047548770904541
(1, 12)

,code,category,Price,52w low,52w high,BVPS,P/E,EPS,EY,DPS,DY,ROE
0,5298,Main Market : Metals,2.89,2.62,4.69,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Series([], Name: reason, dtype: int64)

In [90]:
data1_1 = pd.concat([pd.read_csv(file) for file in glob(out_dir+'klse_01a_*')])
# data1_1.code = data1_1.code.apply(lambda x: str(x).zfill(4))
print(data1_1.shape)

(919, 12)

In [80]:
data1_1.to_csv(out_dir+'klse_01a_latest_data.csv', index=False)

In [54]:
balance1_1 = stock_code[~stock_code.code.isin(data1_1.code)]
print(balance1_1.shape)

(0, 2)

In [81]:
cat_list = ['Consumer Products & Services','Energy','Financial Services','Health Care','Industrial Products & Services',
            'Real Estate Investment Trusts','Technology','Transportation & Logistics','Utilities']
data1_1 = data1_1[data1_1.category.isin(cat_list)]
print(data1_1.shape)

(17, 12)

In [89]:
np.sort(data1_1.category.unique())

array(['Agricultural Products', 'Auto Parts', 'Automotive', 'Banking',
       'Building Materials', 'Chemicals', 'Closed End Fund',
       'Construction', 'Consumer Services', 'Digital Services',
       'Diversified Industrials', 'Electricity',
       'Energy, Infrastructure, Equipment & Services', 'Food & Beverages',
       'Gas, Water & Multi-Utilities', 'Health Care Equipment & Services',
       'Health Care Providers', 'Houshold Goods',
       'Industrial Engineering',
       'Industrial Materials, Components & Equipment',
       'Industrial Services', 'Insurance', 'Media', 'Metals',
       'Oil & Gas Producers', 'Other Energy Resources',
       'Other Financials', 'Packaging Materials', 'Personal Goods',
       'Pharmaceuticals', 'Plantation', 'Property',
       'Real Estate Investment Trusts', 'Retailers', 'Semiconductors',
       'Software', 'Special Purpose Acquisition Company',
       'Technology Equipment', 'Telecommunications Equipment',
       'Telecommunications Service Providers',
       'Transportation & Logistics Services', 'Transportation Equipment',
       'Travel, Leisure & Hospitality', 'Wood & Wood Products'],
      dtype=object)

In [91]:
er_df_1_2, er_df_2 = process_stage_2(data1_1)
display(er_df_1_2.reason.value_counts())
display(er_df_2.reason.value_counts())

if len(er_df_1_2) != 0:
    display(er_df_1_2)
if len(er_df_2) != 0:
    display(er_df_2)

100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:40<00:00,  8.01s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:51<00:00,  8.23s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:55<00:00,  8.32s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [07:15<00:00,  8.71s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:54<00:00,  8.29s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:41<00:00,  8.02s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:53<00:00,  8.26s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:53<00:00,  8.27s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:57<00:00,  8.35s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:51<00:00,  8.23s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:48<00:00,  8.17s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:24<00:00,  7.69s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:48<00:00,  8.18s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:47<00:00,  8.15s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:39<00:00,  8.00s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:44<00:00,  8.09s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:44<00:00,  8.10s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 50/50 [06:44<00:00,  8.09s/it]
100%|███████████████████████████████████████████████████████████████████████████████| 19/19 [02:33<00:00,  8.10s/it]

Time taken:  7536.81308221817

IndexError    7
Name: reason, dtype: int64

NoSuchElementException    5
Name: reason, dtype: int64

   code      reason
0  0228  IndexError
1  0223  IndexError
2  0232  IndexError
3  0233  IndexError
4  0235  IndexError
5  5297  IndexError
6  5298  IndexError

   code                  reason
0  0127  NoSuchElementException
1  5105  NoSuchElementException
2  0118  NoSuchElementException
3  0172  NoSuchElementException
4  0188  NoSuchElementException

In [92]:
balance1_2 = stock_code[stock_code.code.isin(er_df_2.code)]
print(balance1_2.shape)
balance1_2

(5, 2)

     code                         name
713  0118  TRIVE PROPERTY GROUP BERHAD
333  0127     JHM CONSOLIDATION BERHAD
500  0172             OCK GROUP BERHAD
818  0188            HLT GLOBAL BERHAD
103  5105               CAN-ONE BERHAD

In [93]:
er_df_1_2, er_df_2 = process_stage_2(balance1_2,20)
display(er_df_1_2.reason.value_counts())
display(er_df_2.reason.value_counts())

if len(er_df_1_2) != 0:
    display(er_df_1_2)
if len(er_df_2) != 0:
    display(er_df_2)

100%|█████████████████████████████████████████████████████████████████████████████████| 5/5 [00:39<00:00,  7.86s/it]

Time taken:  44.899298429489136

Series([], Name: reason, dtype: int64)

Series([], Name: reason, dtype: int64)

In [94]:
data1_2 = pd.concat([pd.read_csv(file) for file in glob('temp_data/data1*.csv')])
data1_2['code'] = data1_2.code.apply(lambda x: str(x).zfill(4))
data1_2.to_csv(out_dir+'klse_01b_latest_data.csv', index=False)
print(data1_2.shape)

data1 = data1_1.merge(data1_2,'inner')
data1 = data1[['code','category','Price','52w low','52w high','BVPS','P/E','EPS','EY','DPS','DY','ROE','ROE2','D/E','D/E2']]
print(data1.shape)
data1.to_csv(out_dir+'klse_01_latest_data.csv', index=False)
display(data1.head(1))

(919, 4)
(919, 15)

,code,category,Price,52w low,52w high,BVPS,P/E,EPS,EY,DPS,DY,ROE,ROE2,D/E,D/E2
0,0001,Health Care Equipment & Services,1.53,1.226,2.372,0.3676,47.0,0.03,1.96,0.02,0.98,8.81,10.5,0.0,0.0

In [95]:
data2 = pd.concat([pd.read_csv(file) for file in glob('temp_data/data2*.csv')])
data2['code'] = data2.code.apply(lambda x: str(x).zfill(4))
data2.to_csv(out_dir+'klse_02_10yr_data.csv', index=False)
print(data2.shape)
print(data2.code.nunique())
display(data2.head(1))

(25732, 13)
919

,code,detail,TTM,Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10
0,0001,Year End,TTM,2020-12,2019-12,2018-12,2017-12,2016-12,2015-12,2014-12,2013-12,2012-12,2011-12

In [96]:
balance = data1_1[~data1_1.code.isin(data2.code)]
print(balance.shape)
balance

(0, 12)

Empty DataFrame
Columns: [code, category, Price, 52w low, 52w high, BVPS, P/E, EPS, EY, DPS, DY, ROE]
Index: []

In [24]:
er_df_1, er_df_2 = process_stage_2(balance, 30)
display(er_df_1.reason.value_counts())
display(er_df_2.reason.value_counts())

assert(len(er_df_1) == 0) 
assert(len(er_df_2) == 0)

100%|█████████████████████████████████████████████████████████████████████████████████| 1/1 [00:04<00:00,  4.98s/it]

ValueError: Length mismatch: Expected axis has 0 elements, new values have 13 elements

In [ ]:
er_df_1

In [ ]:
er_df_2

### Stage 3

In [97]:
def get_min_gr(y3, y5, y10):
    y = [y3, y5, y10]
    y = [x for x in y if x > 0.0]
    if len(y) == 0:
        y = [0.0]
    return min(y)

In [98]:
error3, result3, symbol= [], [], ['—','\xa0-\xa0']
for i in tqdm(data2.code.unique()):
    stock      = data2[data2.code == str(i).zfill(4)]
    net_profit = [int(x.replace(',','')) for x in stock[stock.detail=='NP'].values[0][3:] if x not in symbol]
    nYear      = len(net_profit)
    if nYear >= 5:
        try:
            temp           = [0 if x > 0.0 else 1 for x in net_profit]
            np_check       = 1 if sum(temp) == 0 else 0 # All positive net profit
            neg_np         = '+' if np_check == 1 else '+'.join([str(n+1) for n, x in enumerate(temp) if x == 1]) # Position of negative net profit
            np_gr_3y_avg   = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='NP GR 3Y avg'].values[0][3:3+nYear]]
            np_gr_5y_avg   = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='NP GR 5Y avg'].values[0][3:3+nYear]]
            np_gr_10y_avg  = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='NP GR 10Y avg'].values[0][3:3+nYear]]
            if len(np_gr_3y_avg) == 0:
                np_gr_3y_avg = [0.0]
            if len(np_gr_5y_avg) == 0:
                np_gr_5y_avg = [0.0]
            if len(np_gr_10y_avg) == 0:
                np_gr_10y_avg = [0.0]

            ocf            = [int(x.replace(',','')) if x not in symbol else 0 for x in stock[stock.detail=='OCF'].values[0][3:3+nYear]]
            ocf_start      = ocf[-1]
            ocf_end        = ocf[0]
            temp           = [0 if x > 0.0 else 1 for x in ocf]
            ocf_check      = 1 if sum(temp) == 0 else 0
            neg_ocf        = '+' if ocf_check == 1 else '+'.join([str(n+1) for n, x in enumerate(temp) if x == 1])

            rvnu           = [int(x.replace(',','')) if x not in symbol else 0 for x in stock[stock.detail=='Revenue'].values[0][3:3+nYear]]
            rvnu_start     = rvnu[-1]
            rvnu_end       = rvnu[0]
            rvnu_gr        = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='Revenue GR'].values[0][3:3+nYear]]
            temp           = [0 if x > 0.0 else 1 for x in rvnu_gr]
            rvnu_gr_check  = 1 if sum(temp) == 0 else 0
            neg_rvnu_gr    = '+' if rvnu_gr_check == 1 else '+'.join([str(n+1) for n, x in enumerate(temp) if x == 1])
            rev_gr_3y_avg  = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='Revenue GR 3Y avg'].values[0][3:3+nYear]]
            rev_gr_5y_avg  = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='Revenue GR 5Y avg'].values[0][3:3+nYear]]
            rev_gr_10y_avg = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='Revenue GR 10Y avg'].values[0][3:3+nYear]]
            if len(rev_gr_3y_avg) == 0:
                rev_gr_3y_avg = [0.0]
            if len(rev_gr_5y_avg) == 0:
                rev_gr_5y_avg = [0.0]
            if len(rev_gr_10y_avg) == 0:
                rev_gr_10y_avg = [0.0]

            nosh           = [int(x.replace(',','')) if x not in symbol else 0 for x in stock[stock.detail=='Shares'].values[0][3:3+nYear]]
            price          = [float(str(x).replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='Price'].values[0][3:3+nYear]]

            np_margin      = [float(x.replace(',','')) for x in stock[stock.detail=='NP Margin'].values[0][2:] if x not in symbol]
            np_margin_avg  = np.around(np.mean(np_margin), 2)

            eps            = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='EPS'].values[0][3:3+nYear]]
            eps_start      = eps[-1]
            eps_end        = eps[0]
            eps_gr         = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='EPS GR'].values[0][3:3+nYear]]
            temp           = [0 if x > 0.0 else 1 for x in eps_gr]
            eps_gr_check   = 1 if sum(temp) == 0 else 0
            neg_eps_gr     = '+' if eps_gr_check == 1 else '+'.join([str(n+1) for n, x in enumerate(temp) if x == 1])
    #         eps_gr_avg     = np.around(np.mean(eps_gr), 2)
    #         eps_cagr       = np.around(((eps[0]/eps[-1])**(1/(len(eps)-1))-1)*100, 2)
            eps_gr_3y_avg  = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='EPS GR 3Y avg'].values[0][3:3+nYear]]
            eps_gr_5y_avg  = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='EPS GR 5Y avg'].values[0][3:3+nYear]]
            eps_gr_10y_avg = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='EPS GR 10Y avg'].values[0][3:3+nYear]]
            if len(eps_gr_3y_avg) == 0:
                eps_gr_3y_avg = [0.0]
            if len(eps_gr_5y_avg) == 0:
                eps_gr_5y_avg = [0.0]
            if len(eps_gr_10y_avg) == 0:
                eps_gr_10y_avg = [0.0]
            eps_gr_min     = get_min_gr(eps_gr_3y_avg[0],eps_gr_5y_avg[0],eps_gr_10y_avg[0])

            ey             = [np.around(eps[x]/price[x]*100, 2) for x in range(len(price)) if price[x] != 0]# EPS / Price
            ey_avg         = np.around(np.mean(ey),2)
            ey_std         = np.around(np.std(ey), 2)
            ey_3y_avg      = np.around(np.mean(ey[:3]), 2) if len(ey) >= 3 else 0.0
            ey_5y_avg      = np.around(np.mean(ey[:5]), 2) if len(ey) >= 5 else 0.0
            ey_10y_avg     = np.around(np.mean(ey), 2) if len(ey) == 10 else 0.0

            pe             = [np.around(price[x]/eps[x], 2) for x in range(len(price)) if eps[x] != 0]# Price / EPS
            if len(pe) == 0:
                pe = [0.0]
            #changes in this revision from 10y to 5y
            pe_min         = min(pe[:5])
            pe_max         = max(pe[:5])
            pe_mid         = np.around((pe_max + pe_min)/2, 2)
            pe             = [x for x in pe if x > 0.0]
            pe_avg         = np.around(np.mean(pe[:5]), 2)

            dpayout        = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='Div Payout'].values[0][3:3+nYear]]
            if len(dpayout) == 0:
                dpayout = [0.0]
            dpayout_avg    = np.around(np.mean(dpayout), 2)

            dps            = [float(x.replace(',','')) if x not in symbol else 0.0 for x in stock[stock.detail=='DPS'].values[0][3:3+nYear]]
            if len(dps) == 0:
                dps = [0.0]
            dy             = [np.around(dps[x]/price[x]*100, 2) for x in range(len(price)) if price[x] != 0]# DPS / Price
            dy_avg         = np.around(np.mean(dy),2)
            dy_3y_avg      = np.around(np.mean(dy[:3]), 2) if len(dy) >= 3 else 0.0
            dy_5y_avg      = np.around(np.mean(dy[:5]), 2) if len(dy) >= 5 else 0.0
            dy_10y_avg     = np.around(np.mean(dy), 2) if len(dy) == 10 else 0.0

    #         dates          = [datetime.strptime(x, '%Y-%m') for x in stock[stock.detail=='Year End'].values[0][2:] if x not in symbol]
    #         annual         = dates[0]  
            annual         = datetime.strptime(stock[stock.detail=='Year End'].values[0][3], '%Y-%m')

            result3.append([str(i), annual, nYear, np_margin_avg,  
                            pe_min, pe_max, pe_mid, pe_avg,
                            eps_gr_min, ey_avg, ey_std, ey_3y_avg, ey_5y_avg, ey_10y_avg, 
                            dy_avg, dy_3y_avg, dy_5y_avg, dy_10y_avg, dpayout_avg,
                            rev_gr_3y_avg[0], rev_gr_5y_avg[0], rev_gr_10y_avg[0],
                            np_gr_3y_avg[0], np_gr_5y_avg[0], np_gr_10y_avg[0],
                            eps_gr_3y_avg[0], eps_gr_5y_avg[0], eps_gr_10y_avg[0], 
                            np_check, eps_gr_check, ocf_check, neg_rvnu_gr, neg_np, neg_eps_gr, neg_ocf,
                            rvnu_start, rvnu_end, eps_start, eps_end, ocf_start, ocf_end])
        except:
            error3.append([str(i), 'Calculation Error'])
    else:
        error3.append([str(i), 'Less than 5 years'])

  4%|██▉                                                                           | 34/919 [00:00<01:12, 12.24it/s]d:\anaconda3\envs\tensorflow\lib\site-packages\numpy\core\fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
d:\anaconda3\envs\tensorflow\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
100%|█████████████████████████████████████████████████████████████████████████████| 919/919 [00:09<00:00, 99.80it/s]

In [99]:
er_df_3 = pd.DataFrame(error3, columns=['code','reason'])
display(er_df_3.reason.value_counts())

data3 = pd.DataFrame(result3, columns=['code','Annual','nYear','NPM avg',
                                       'P/E min','P/E max','P/E mid','P/E avg','EPS GR min',
                                       'EY avg','EY std','EY 3Y avg','EY 5Y avg','EY 10Y avg',
                                       'DY avg','DY 3Y avg','DY 5Y avg','DY 10Y avg','DPayout avg',
                                       'Revenue GR 3Y avg','Revenue GR 5Y avg','Revenue GR 10Y avg',
                                       'NP GR 3Y avg','NP GR 5Y avg','NP GR 10Y avg',
                                       'EPS GR 3Y avg','EPS GR 5Y avg','EPS GR 10Y avg',
                                       'check NP','check EPS GR','check OCF','neg Revenue GR','neg NP','neg EPS GR','neg OCF',
                                       'Revenue start','Revenue end','EPS start','EPS end','OCF start','OCF end'])
data3 = data3.merge(stock_code,'left')
data3 = data3.merge(data1,'left')
temp = data3.columns.tolist()
data3 = data3[temp[:1]+temp[-15:-13]+temp[1:3]+temp[-13:]+temp[3:-15]]
# data3 = data3[data3['check NP']==1]
# data3 = data3[data3['check OCF']==1]
print(data3.shape)
data3.to_csv(out_dir+'klse_03_stage_3.csv',index=False)
display(data3.head(1))

Less than 5 years    19
Calculation Error     1
Name: reason, dtype: int64

(899, 56)

,code,name,category,Annual,nYear,Price,52w low,52w high,BVPS,P/E,...,neg Revenue GR,neg NP,neg EPS GR,neg OCF,Revenue start,Revenue end,EPS start,EPS end,OCF start,OCF end
0,0001,SUPERCOMNET TECHNOLOGIES BERHAD,Health Care Equipment & Services,2020-12-01,10,1.53,1.226,2.372,0.3676,47.0,...,5+8,+,1+5+8+9+10,4+5+6+7+9,35,128,0.02,0.03,4,16

In [100]:
error3

[['0218', 'Less than 5 years'],
 ['0228', 'Less than 5 years'],
 ['0230', 'Less than 5 years'],
 ['5280', 'Less than 5 years'],
 ['5296', 'Less than 5 years'],
 ['0094', 'Less than 5 years'],
 ['0175', 'Less than 5 years'],
 ['0217', 'Less than 5 years'],
 ['0223', 'Less than 5 years'],
 ['0226', 'Less than 5 years'],
 ['0227', 'Less than 5 years'],
 ['0229', 'Less than 5 years'],
 ['0231', 'Less than 5 years'],
 ['0232', 'Less than 5 years'],
 ['0233', 'Less than 5 years'],
 ['0235', 'Less than 5 years'],
 ['5229', 'Less than 5 years'],
 ['5270', 'Less than 5 years'],
 ['5297', 'Less than 5 years'],
 ['5298', 'Calculation Error']]

In [101]:
data3.columns

Index(['code', 'name', 'category', 'Annual', 'nYear', 'Price', '52w low',
       '52w high', 'BVPS', 'P/E', 'EPS', 'EY', 'DPS', 'DY', 'ROE', 'ROE2',
       'D/E', 'D/E2', 'NPM avg', 'P/E min', 'P/E max', 'P/E mid', 'P/E avg',
       'EPS GR min', 'EY avg', 'EY std', 'EY 3Y avg', 'EY 5Y avg',
       'EY 10Y avg', 'DY avg', 'DY 3Y avg', 'DY 5Y avg', 'DY 10Y avg',
       'DPayout avg', 'Revenue GR 3Y avg', 'Revenue GR 5Y avg',
       'Revenue GR 10Y avg', 'NP GR 3Y avg', 'NP GR 5Y avg', 'NP GR 10Y avg',
       'EPS GR 3Y avg', 'EPS GR 5Y avg', 'EPS GR 10Y avg', 'check NP',
       'check EPS GR', 'check OCF', 'neg Revenue GR', 'neg NP', 'neg EPS GR',
       'neg OCF', 'Revenue start', 'Revenue end', 'EPS start', 'EPS end',
       'OCF start', 'OCF end'],
      dtype='object')

### Stage 4

In [102]:
def get_intrinsic(eps, eps_gr, pe_mid, dpayout_avg):
    eps_10y        = [np.around(eps * ((1 + (eps_gr / 100))**i) ,2) for i in range(n_year)]
    total_eps      = np.around(sum(eps_10y), 2)
    expected_price = np.around(eps_10y[-1] * pe_mid,2)
    total_dvd      = np.around(total_eps * (dpayout_avg / 100), 2)
    total_return   = np.around(total_eps + total_dvd, 2)
    intrinsic      = np.around(total_return / ((1 + (eps_gr / 100))**n_year), 2)
    return intrinsic

In [103]:
data4 = data3[['code','name','Price','EPS','52w low','52w high','EPS GR 3Y avg', 'EPS GR 5Y avg', 'EPS GR 10Y avg', 
               'P/E mid','DPayout avg']].copy()
n_year = 10
result4 = []
for n, x in tqdm(data4.iterrows(), total=len(data4)):
#     eps_10y = [np.around(x['EPS'] * ((1 + (x['EPS GR min'] / 100))**i) ,2) for i in range(n_year)]
#     total_eps = np.around(sum(eps_10y), 2)
#     expected_price = np.around(eps_10y[-1] * x['P/E mid'],2)
#     total_dvd = np.around(total_eps * (x['DPayout avg'] / 100), 2)
#     total_return = np.around(total_eps + total_dvd, 2)
#     intrinsic = np.around(total_return / ((1 + (x['EPS GR min'] / 100))**n_year), 2)
    intrinsic_3y  = get_intrinsic(x['EPS'], x['EPS GR 3Y avg'], x['P/E mid'], x['DPayout avg'])
    intrinsic_5y  = get_intrinsic(x['EPS'], x['EPS GR 5Y avg'], x['P/E mid'], x['DPayout avg'])
    intrinsic_10y = get_intrinsic(x['EPS'], x['EPS GR 10Y avg'], x['P/E mid'], x['DPayout avg'])
    price_A3      = np.around(intrinsic_3y * 0.75, 2)
    price_A5      = np.around(intrinsic_5y * 0.75, 2)
    price_A10     = np.around(intrinsic_10y * 0.75, 2)
    price_B       = np.around((x['52w high'] - x['52w low']) * 0.33 + x['52w low'], 2)
    result4.append([str(x['code']), intrinsic_3y, intrinsic_5y, intrinsic_10y, price_A3, price_A5, price_A10, price_B])

data4 = data4.merge(pd.DataFrame(result4, columns=['code','intrinsic 3Y','intrinsic 5Y','intrinsic 10Y',
                                                   'Price A3','Price A5','Price A10','Price B']))
print(data4.shape)
data4.to_csv(out_dir+'klse_04_intrinsic.csv',index=False)
data4.head(1)

100%|████████████████████████████████████████████████████████████████████████████| 899/899 [00:01<00:00, 503.35it/s]

(899, 18)

,code,name,Price,EPS,52w low,52w high,EPS GR 3Y avg,EPS GR 5Y avg,EPS GR 10Y avg,P/E mid,DPayout avg,intrinsic 3Y,intrinsic 5Y,intrinsic 10Y,Price A3,Price A5,Price A10,Price B
0,0001,SUPERCOMNET TECHNOLOGIES BERHAD,1.53,0.03,1.226,2.372,40.69,19.36,0.0,37.58,18.26,0.08,0.15,0.35,0.06,0.11,0.26,1.6

In [104]:
data4.columns

Index(['code', 'name', 'Price', 'EPS', '52w low', '52w high', 'EPS GR 3Y avg',
       'EPS GR 5Y avg', 'EPS GR 10Y avg', 'P/E mid', 'DPayout avg',
       'intrinsic 3Y', 'intrinsic 5Y', 'intrinsic 10Y', 'Price A3', 'Price A5',
       'Price A10', 'Price B'],
      dtype='object')

In [105]:
# Stocks which have prices lower than fair value price B
# data4[data4.Price < data4.Price_B]

### Stage 5

Earning Yield Level:
    - 5  PE <=6.67    EY >=15%         DY >=3%
    - 4  PE >6.67-10  EY 10%-<15%      DY 2.5%-<3%
    - 3  PE >10-20    EY 5%-<10%       DY 2%-<2.5%
    - 2  PE >20-30    EY 3.33%-<5%     DY 1.5%-<2%
    - 1  PE >30-40    EY 2.5%-<3.33%   DY 1%-<1.5%
    - 0  PE >4        EY <2.5%         DY <1%

In [106]:
data5 = data3[['code','nYear','neg Revenue GR','neg EPS GR','neg OCF','Revenue start','Revenue end','EPS start','EPS end',
               'OCF start','OCF end','ROE','ROE2','D/E','D/E2','P/E mid','EPS','EPS GR min']].copy()
ey_level = [min(data3['EY']),2.5,3.33,5,10,15,max(max(data3['EY']),9999)+1]
dy_level = [min(data3['DY']),1,1.5,2,2.5,3,max(max(data3['DY']),9999)+1]
ey_label = [0,1,2,3,4,5]
data5['EY level'] = pd.cut(data3['EY'], ey_level, False, ey_label)
data5['DY level'] = pd.cut(data3['DY'], dy_level, False, ey_label)
data5['neg Revenue count'] = data5['neg Revenue GR'].apply(lambda x: len(x.split('+')) if x != '+' else 0)
data5['neg EPS count'] = data5['neg EPS GR'].apply(lambda x: len(x.split('+')) if x != '+' else 0)
data5['neg OCF count'] = data5['neg OCF'].apply(lambda x: len(x.split('+')) if x != '+' else 0)
data5['Revenue Growth'] = data5.apply(lambda x: 1 if x['Revenue end']>=x['Revenue start'] and x['neg Revenue count']==0 else
                                        0.5 if x['Revenue end']>=x['Revenue start'] and x['neg Revenue count']<=3 else 0, axis=1)
data5['EPS Growth'] = data5.apply(lambda x: 1 if x['EPS end']>=x['EPS start'] and x['neg EPS count']==0 else
                                    0.5 if x['EPS end']>=x['EPS start'] and x['neg EPS count']<=2 else 0, axis=1)
data5['OCF Growth'] = data5.apply(lambda x: 1 if x['OCF end']>=x['OCF start'] and x['neg OCF count']==0 else
                                    0.5 if x['OCF end']>=x['OCF start'] and x['neg OCF count']<=3 else 0, axis=1)
data5['ROE Health'] = data5.apply(lambda x: 1 if x['ROE']>=15 else 0.5 if x['ROE2']>=15 else 0, axis=1)
data5['D/E Health'] = data5.apply(lambda x: 1 if x['D/E']<=0.5 else 0.5 if x['D/E2']<=0.5 else 0, axis=1)
data5['3G2H'] = data5['Revenue Growth']+data5['EPS Growth']+data5['OCF Growth']+data5['ROE Health']+data5['D/E Health']
data5['PE Value'] = np.around(data5['P/E mid']*data5['EPS'], 2)
data5['EPS GR Value'] = np.around(data5['EPS']*data5['EPS GR min'], 2)
data5.drop(columns=['neg Revenue GR','neg EPS GR','neg OCF'], inplace=True)
data5.sort_values('3G2H', inplace=True, ascending=False)
data5.reset_index(drop=True, inplace=True)
print(data5.shape)
data5.to_csv(out_dir+'klse_05_3G2H_score_with_valuation.csv',index=False)
data5.head(1)

(899, 28)

,code,nYear,Revenue start,Revenue end,EPS start,EPS end,OCF start,OCF end,ROE,ROE2,...,neg EPS count,neg OCF count,Revenue Growth,EPS Growth,OCF Growth,ROE Health,D/E Health,3G2H,PE Value,EPS GR Value
0,4731,10,804,3517,0.06,0.25,111,715,16.27,16.3,...,0,0,1.0,1.0,1.0,1.0,1.0,5.0,15.51,3.25

In [107]:
data5.columns

Index(['code', 'nYear', 'Revenue start', 'Revenue end', 'EPS start', 'EPS end',
       'OCF start', 'OCF end', 'ROE', 'ROE2', 'D/E', 'D/E2', 'P/E mid', 'EPS',
       'EPS GR min', 'EY level', 'DY level', 'neg Revenue count',
       'neg EPS count', 'neg OCF count', 'Revenue Growth', 'EPS Growth',
       'OCF Growth', 'ROE Health', 'D/E Health', '3G2H', 'PE Value',
       'EPS GR Value'],
      dtype='object')

### Final Table

In [108]:
final = data3.merge(data4.iloc[:,[0]+list(range(-7,0))])\
             .merge(data5.iloc[:,[0]+list(range(15,17))+list(range(-8,0))])
temp = final.columns.tolist()
final = final[temp[:5]+temp[-3:]+temp[-13:-10]+temp[5:-13]+temp[-10:-3]]
print(final.shape)
final.sort_values(['category','code'],inplace=True)
final.reset_index(drop=True,inplace=True)
final.to_csv(out_dir+'klse_06_final_table.csv',index=False)
final.head(1)

(899, 73)

,code,name,category,Annual,nYear,3G2H,PE Value,EPS GR Value,Price A5,Price A10,...,intrinsic 5Y,intrinsic 10Y,Price A3,EY level,DY level,Revenue Growth,EPS Growth,OCF Growth,ROE Health,D/E Health
0,0098,BAHVEST RESOURCES BERHAD,Agricultural Products,2020-03-01,9,1.0,0.04,-0.0,-0.08,-0.08,...,-0.1,-0.1,-0.08,0,0,0.0,0.0,0.0,0.0,1.0

In [109]:
display(final[final.code=='5398'].iloc[:,:15])
display(final[final.code=='5398'].iloc[:,15:35])
display(final[final.code=='5398'].iloc[:,35:50])
display(final[final.code=='5398'].iloc[:,50:65])
display(final[final.code=='5398'].iloc[:,65:])

,code,name,category,Annual,nYear,3G2H,PE Value,EPS GR Value,Price A5,Price A10,Price B,Price,52w low,52w high,BVPS
125,5398,GAMUDA BERHAD,Construction,2020-07-01,10,1.5,2.59,0.12,3.52,1.53,3.22,2.84,2.84,4.0,3.52

,P/E,EPS,EY,DPS,DY,ROE,ROE2,D/E,D/E2,NPM avg,P/E min,P/E max,P/E mid,P/E avg,EPS GR min,EY avg,EY std,EY 3Y avg,EY 5Y avg,EY 10Y avg
125,20.0,0.14,4.93,0.06,2.11,4.03,4.47,0.42,0.35,18.62,13.25,23.73,18.49,19.19,0.89,5.78,1.06,5.81,5.43,5.78

,DY avg,DY 3Y avg,DY 5Y avg,DY 10Y avg,DPayout avg,Revenue GR 3Y avg,Revenue GR 5Y avg,Revenue GR 10Y avg,NP GR 3Y avg,NP GR 5Y avg,NP GR 10Y avg,EPS GR 3Y avg,EPS GR 5Y avg,EPS GR 10Y avg,check NP
125,2.7,2.67,2.55,2.7,52.57,4.48,9.17,4.08,-11.44,2.53,0.0,-14.4,-12.39,0.89,1

,check EPS GR,check OCF,neg Revenue GR,neg NP,neg EPS GR,neg OCF,Revenue start,Revenue end,EPS start,EPS end,OCF start,OCF end,intrinsic 3Y,intrinsic 5Y,intrinsic 10Y
125,0,0,1+5+7,+,1+3+4+5+6+8,4+7+8+10,2673,3663,0.2,0.15,-228,596,5.54,4.69,2.04

,Price A3,EY level,DY level,Revenue Growth,EPS Growth,OCF Growth,ROE Health,D/E Health
125,4.16,2,3,0.5,0.0,0.0,0.0,1.0

### Alter For Google Sheet

In [3]:
col = ['code','name','category','Annual','nYear','3G2H','PE Value','EPS GR Value','Price','P/E','EPS','DY',
       '52w low','52w high','P/E min','P/E max','P/E mid','EPS GR min','EPS GR 3Y avg','EPS GR 5Y avg','EPS GR 10Y avg']
data7 = final[col]
print(data7.shape)
data7.to_csv(out_dir+'klse_07_google_sheet.csv',index=False)
data7.head(1)

(899, 21)

,code,name,category,Annual,nYear,3G2H,PE Value,EPS GR Value,Price,P/E,...,DY,52w low,52w high,P/E min,P/E max,P/E mid,EPS GR min,EPS GR 3Y avg,EPS GR 5Y avg,EPS GR 10Y avg
0,0098,BAHVEST RESOURCES BERHAD,Agricultural Products,2020-03-01,9,1.0,0.04,-0.0,0.425,-37.0,...,0.0,0.375,0.845,-110.0,102.0,-4.0,0.0,0.0,0.0,0.0